<%= form_with(url: update_password_path(current_user), method: :patch, local: true) do |form| %>
  <% if @user.errors.present? %>
    <p>
      <%= @user.errors.full_messages.join(", ") %>
    </p>
  <% end %>
  <div>
    <%= form.label :current_password, class: 'form-label'%>
    <%= form.password_field :current_password, class: 'form-control mb-3' %>
  </div>
  <div>
    <%= form.label :new_password, class: 'form-label'%>
    <%= form.password_field :new_password, class: 'form-control mb-3' %>
  </div>
  <div>
    <%= form.label :new_password_confirmation, class: 'form-label'%>
    <%= form.password_field :new_password_confirmation, class: 'form-control mb-3' %>
  </div>

  <%= form.submit 'Update Password', class: 'btn btn-outline-primary'%>
<% end %>